# run times
TZ=America/New_York
TRADE_TIMES=10:00
CHECK_TIMES=10:00,13:00,16:00

# telegram
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
TELEGRAM_CHAT_ID=YOUR_CHAT_ID_HERE

# alpaca
ALPACA_API_KEY=YOUR_API_KEY_HERE
ALPACA_API_SECRET=YOUR_API_SECRET_HERE
